###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

# These files are text and should be normalized (convert crlf =&gt; lf)
*.cs      text diff=csharp
*.xaml    text
*.csproj  text
*.sln     text eol=crlf
*.tt      text
*.ps1     text
*.cmd     text
*.msbuild text
*.md      text

###############################################################################
# behavior for image files
#
# image files are treated as binary by default.
###############################################################################
*.jpg   binary
*.png   binary
*.gif   binary
