$main-background-color: #FFFFFF;
$main-text-color: #171815;

$primary-color: #0058a3;
$hover-background-color: #cbd5de;

$blue: #0058a3;
$blue-bright: #7ea0c4;
$green: #00963e;
$orange: #ef7622;
$yellow: #f6b221;
$purple: #904799;
$red: #c6093b;
$gray: #8a8c8c;
$gray-dark: #4a4c4c;
$gray-bright: #e3e3e3;
$gray-brighter: #f3f3f3;
$black: #171815;

$logo-blue-dark: #1d2f63;
$logo-blue: #0058a3;
$logo-blue-bright: #009dd3;

$logo-green: #00963e;
$logo-green-bright: #bed000;
