button,
.button,
input[type="button"],
input[type="submit"] {
    border: solid 5px $gray-bright;
    background-color: $gray-bright;
    color: #1E1E1C;
    font-size: 12pt;
    text-transform: uppercase;
    text-align: center;
    padding: 6px 12px;

    &:hover, &:focus {
        border: solid 5px $blue-bright;
        background-color: #CBD5DE;
        cursor: pointer;
    }
}