.dropdown-container {
    position: fixed;
    z-index: 1001;
    top: -100%;
    left: 0;
    padding: 0;
    width: 100%;
    @include transition(top .5s);

    &.active {
        top: 48px;

        @media only screen and (min-width: 768px) {
            top: 64px;
        }
    }

    .dropdown-content {
        background: #fff;
        @include box-shadow(0, 1px, 3px, rgba(0,0,0,.37));
        max-width: 600px;
        display: block;
        margin: auto;

        .dropdown-body {
            padding: 15px 30px;
        }
    }
}
