input,
input:hover,
input:active,
input:focus {
    font-size: 20px;
    width: 100%;
    border: solid 1px $primary-color;
    padding: 10px;
    height: 2em;
    line-height: normal;

    @include placeholder {
        color: $gray-bright;
    }
}

.input-container {
    width: auto;
    margin: auto;
    text-align: left;

    > div {
        text-align: left;
    }
}

@media (min-width: 766px) {
    .input-container {
        text-align: center;
    }
}
