ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        margin-left: 26px;
        line-height: 1.3em;

        &:before {
            display: inline-block;
            font-family: FontAwesome;
            color: $primary-color;
            content: "\f111";
            margin-left: -16px;
            font-size: 0.5em;
            vertical-align: middle;
            margin: 0 8px .4em -18px;
        }

        a {
            color: $primary-color;
            text-decoration: none;
            text-transform: uppercase;
            margin: 0 -2px;
            display: inline-block;
            font-size: 20px;
            line-height: 52px;
            vertical-align: bottom;
            border-bottom: 6px solid transparent;
            padding: 6px 16px 0;
            -webkit-transition: border-color .2s;
            transition: border-color .2s;

            &:hover {
                border-bottom: 6px solid $primary-color;
            }
        }
    }
}

.list {
    .list-item {
        display: block;

        .list-item-badge {
            width: 20px;
            margin: -9px;
            float: right;
        }

        &:not(:first-child) {
            border-top: 1px solid #ededed;
        }

        &.list-item-clickable {
            &:hover, &.hover {
                background-color: $hover-background-color;
                .list-item-badge {
                    content: url(/Content/assets/images/svg/map-marker-hover.svg);
                }
            }

            &.active {
                background-color: $primary-color;
                @include border-color($primary-color);

                .list-item-badge {
                    content: url(/Content/assets/images/svg/map-marker-active.svg);
                }

                .list-item-content > .list-item-link {
                    color: #1E1E1C;
                    visibility: visible;

                    @media only screen and (min-width: 520px) {
                        color: #FFF;
                    }
                }

                .list-item-content > span {
                    color: #FFF;
                }
            }

            .list-item-content {
                cursor: default;
            }
        }

        &.list-item-button {
            text-align: center;
            padding: 8px;
        }

        .list-item-content {
            padding: 16px;
        }

        .list-item-title {
            font-size: 18pt;
        }

        .list-item-description {
            font-size: 12pt;
        }

        .list-item-link {
            cursor: pointer;
            padding: 5px;
            margin-top: 8px;
            text-transform: uppercase;
            text-align: center;
            display: block;
            background-color: $gray-bright;
            color: #1E1E1C;

            @media only screen and (min-width: 520px) {
                border: none;
                display: inline-block;
                color: $primary-color;
                margin-top: -10px;
                padding: 5px 12px;
                background-color: rgba(255,255,255,0.25);

                &:hover, &.hover {
                    color: $primary-color;
                }
            }
        }
    }

    &.position-list {
        overflow: auto;
        @include calc(height, '100% - 144px');

        .list-item-addressdata {
            display: block;

            &:nth-child(2) {
                font-weight: bold;

                @media only screen and (min-width: 520px) {
                    font-size: 16pt;
                    font-weight: normal;
                }
            }
        }
    }
}

.modal-list-item-title {
    display: block;
    font-weight: bold;
}

.modal-list-item-data {
    display: block;
}
