.map,
.leaflet-container {
    background-color: #FAFAFA;
    position: fixed;
    width: 100%;
    top: 48px;
    left: 0;
    @include transition(left .5s, width .5s);
    @include calc(height, '100% - 48px');

    @media only screen and (min-width: 768px) {
        top: 64px;
        @include calc(height, '100% - 64px');
    }
}

.leaflet-left .leaflet-control.leaflet-control-zoom {
    @include transition(margin-left .5s);
}

.has-sidebar {
    .map,
    .leaflet-container {
        left: 0;

        .leaflet-left .leaflet-control.leaflet-control-zoom {
            margin-left: 210px;

            @media only screen and (min-width: 520px) {
                margin-left: 310px;
            }
        }
    }
}
