.map,
.leaflet-container {
    background-color: #FAFAFA;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 48px;
    left: 0;
    @include transition(left .5s);

    @media only screen and (min-width: 768px) {
        top: 64px;
    }
}

.has-sidebar {
    .map,
    .leaflet-container {
        left: 300px;
        @include transition(left .5s);
    }
}
