.z-1 {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.37);
}

.z-2 {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.clearfix {
    clear: both;
}

.inline-block {
    display: inline-block;
    float: none;
}

.print-actions {
    display: none;
}

.loading-animation {
    background-image: url(/Content/assets/images/svg/ripple.svg);
    @include calc(height, '100% - 64px');
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 1000;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
    opacity: 0;
    @include transition(opacity 1s);
}

.has-sidebar .loading-animation {
    left: 200px;
    @include calc(width, '100% - 200px');

    @media only screen and (min-width: 520px) {
        left: 300px;
        @include calc(width, '100% - 300px');
    }
}

.loading-animation.active {
    display: table;
    opacity: 1;
    @include transition(opacity 1s);
}

.loading-animation span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 36px;
}


@media (max-width: 549px) {
    .hide-xsmall {
        display: none !important;
    }
}

@media (min-width: 550px) and (max-width: 749px) {
    .hide-small {
        display: none !important;
    }
}

@media (min-width: 768px) and (max-width: 1159px) {
    .hide-medium {
        display: none !important;
    }
}

@media (min-width: 1160px) {
    .hide-big {
        display: none !important;
    }
}

hr {
    border-top: 1px solid $gray-bright;
    border-bottom: none;
}

.show-on-hover {
    @include opacity(0);
}

.hover .show-on-hover,
:hover > .show-on-hover {
    @include opacity(1);
}

.show-on-active {
    @include opacity(0);
}

.active .show-on-active,
:active > .show-on-active {
    @include opacity(1);
}

.attribution {
    left: 30px;
    bottom: 30px;
    font-size: 14px;
    position: absolute;
    z-index: 1000;
    @include transition(left .5s);

    &:hover {
        a {
            opacity: 1;
        }
    }

    a {
        color: #000;
        display: table-cell;
        height: 60px;
        background-position: left;
        background-size: 30px;
        background-repeat: no-repeat;
        text-indent: 35px;
        vertical-align: middle;
        opacity: .9;
        font-weight: 600;
        background-image: url(/Content/assets/images/svg/kartverket-attribution.svg);
        @include transition(opacity .2s);
    }
}

.has-sidebar .attribution {
    left: 230px;

    @media only screen and (min-width: 520px) {
        left: 330px;
    }
}

.toggle-read-more {
    &:after {
        display: inline-block;
        font-family: FontAwesome;
        margin-left: 4px;
        content: "\f078";
    }

    &.active {
        &:after {
            content: "\f077";
        }
    }
}

.read-more {
    max-height: 0;
    overflow: hidden;
    @include transition(max-height 1s);
}

.read-more.active {
    max-height: 475px;
}
