.z-1 {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.37);
}

.z-2 {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.clearfix {
    clear: both;
}

.inline-block {
    display: inline-block;
    float: none;
}

.loading-animation {
    background-image: url(/Content/Assets/images/ripple.svg);
    @include calc(height, '100% - 64px');
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 1000;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
    opacity: 0;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
}

.has-sidebar .loading-animation {
    left: 300px;
    @include calc(width, '100% - 300px');
}

.loading-animation.active {
    display: table;
    opacity: 1;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
}

.loading-animation span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 36px;
}

#results {
    position: fixed;
    background: #fff;
    z-index: 1001;
    top: 48px;
    left: -300px;
    width: 300px;
    height: 100%;
    @include opacity(0);
    @include transition(left .5s);

    @media only screen and (min-width: 768px) {
        top: 64px;
    }
}


.has-sidebar #results {
    left: 0;
    @include box-shadow(2px, 3px, 5px, rgba(0,0,0,.26));
    @include opacity(1);
    @include transition(left .5s);
}

.has-results #results {
    @include opacity(1);
}


.sidebar-header {
    padding: 3px 15px;
    border: none;
    border-bottom-style: solid;
    @include border-color($gray-brighter);
    border-bottom-width: 1px;
    height: 80px;
    background-color: $gray-brighter;
}

@media (max-width: 549px) {
    .hide-xsmall {
        display: none !important;
    }
}

@media (min-width: 550px) and (max-width: 749px) {
    .hide-small {
        display: none !important;
    }
}

@media (min-width: 768px) and (max-width: 1159px) {
    .hide-medium {
        display: none !important;
    }
}

@media (min-width: 1160px) {
    .hide-big {
        display: none !important;
    }
}

hr {
    border-top: 1px solid $gray-bright;
    border-bottom: none;
}

.show-on-hover {
    @include opacity(0);
}

.hover .show-on-hover,
:hover > .show-on-hover {
    @include opacity(1);
}

.show-on-active {
    @include opacity(0);
}

.active .show-on-active,
:active > .show-on-active {
    @include opacity(1);
}
