.popover {
    padding: 6px 12px;
    margin-bottom: -20px;
    background-color: #FFF;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);

    > .arrow {
        position: absolute;
        border-color: transparent;
        border-style: solid;
        border-width: 11px;
    }

    &.top > .arrow {
        bottom: -11px;
        margin-left: -11px;
        border-top-color: #FFF;
        border-bottom-width: 0;
    }
}
