@page {
    size: 8.267in 11.692in;
}

body.print {
    margin: 30px;
    background-color: #efefef;

    .print-actions {
        display: block;
        margin-bottom: 25px;
        width: 8.267in;
    }

    .main-content {
        background: #FFFFFF;
        width: 8.267in;
        height: 11.692in;
        padding: 60px 25px 0;
        @include box-shadow(0, 1px, 3px, rgba(0,0,0,.37));
    }

    .navbar {
        display: none;
    }

    .dropdown-container {
        display: none;
    }

    .coordinates-input {
        display: none;
    }

    .loading-animation {
        display: none;
    }

    .attribution {
        position: static;
        display: inline-block;
        margin: 175px 25px 0;
    }

    &.has-sidebar {
        .map {
            left: 0;
            top: 0;

            &:after {
                display: block;
                content: "";
            }
        }

        .sidebar {
            box-shadow: none;
        }
    }

    .map {
        position: relative !important;
        width: auto;
        max-width: 100%;
        height: 12cm !important;
        display: block;
        top: 0;
        left: 0;

        .leaflet-control-container {
            display: none;
        }

        &:after {
            content: "";
            clear: both;
            display: block;
        }

        img[src*="/Content/assets/images/svg/map-marker.svg"] {
            display: none;
        }

        img[src*="/Content/assets/images/svg/map-marker-active.svg"] {
            content: url(/Content/assets/images/svg/map-marker.svg);
        }

        .leaflet-marker-shadow {
            opacity: 0;
        }
    }

    .sidebar {
        width: 100%;
        position: static !important;
        display: block;
        box-shadow: none;

        .sidebar-header {
            display: none;
        }

        .toggle-sidebar {
            display: none;
        }

        .position-list {
            .list-item {
                &:not(.active) {
                    display: none;
                }

                &.list-item-button {
                    display: none;
                }

                &.list-item-clickable {
                    &.active {
                        background: none;
                        border: none;
                    }
                }

                .list-item-content {
                    display: none;
                }

                .modal {
                    background: none;
                    position: static !important;
                    height: auto !important;
                    float: none;


                    .modal-container {
                        width: 100%;
                        height: auto;
                        max-height: none;
                        margin-top: 0;
                        box-shadow: none;
                        background: none;
                        border-radius: 0;
                        border: none;
                        display: block;
                        position: static;

                        .modal-header {
                            background: none;
                            padding: 0;
                            margin-bottom: 15px;

                            .modal-title {
                                font-size: 2.2em;
                            }

                            .hide-modal {
                                display: none;
                            }
                        }

                        .modal-body {
                            height: auto;
                            padding: 15px 20px;
                            line-height: 14pt;

                            .col-sm-4 {
                                width: 33.33333%;
                                float: left;
                            }

                            .col-sm-8 {
                                width: 66.66667%;
                                float: left;
                            }

                            .result-link-title, .result-link {
                                display: none;
                            }

                            .show-print {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media print {
    body.print {
        margin: 0;
        background-color: #FFFFFF;

        .print-actions {
            display: none;
        }

        .main-content {
            box-shadow: none;
            padding: 30px 0 0;

            .container {
                padding: 0;
            }
        }
        .attribution{
            margin: 195px 25px 0;
        }
    }
}
