* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: $main-background-color;
    color: $main-text-color;
    font-size: 12pt;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a, a:visited {
    color: $primary-color;
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

.main-content {
    -webkit-transition: all .2s;
    transition: all .2s;
    padding-top: 48px;
}

.container {
    padding: 0 25px;
}

input,
input:hover,
input:active,
input:focus {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    background: none;
    border-radius: 0;
    margin: 0;
    outline: none;
}

button,
button:hover,
button:active,
button:focus {
    outline: none;
    box-shadow: none;
    border: none;
    background: none;
}

@media only screen and (min-width: 750px) {
    body.sidebar-active {
        .main-content {
            margin-left: 245px;
        }
    }

    .main-content {
        padding-top: 64px;
    }
}
