@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>Finn posisjon</h1>
</div>

<div class="row">
    <div class="input-container">
        <div>
            <div class="col-md-3 inline-block">
                <input v-model="firstInput" />
            </div>
            <div class="col-md-3 inline-block">
                <input v-model="secondInput" />
            </div>
        </div>
        <div class="col-md-3 inline-block">
            <button v-on:click="findPositions">Finn posisjon</button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<pre v-if="positionsResult">Antall posisjoner funnet: {{ positionsResult.Positions.length }}</pre>

<div class="result-container">
    <div class="row">
        <div class="col-md-9">
            <div id="map" class="map" style="background-color: #ededed; height: 600px;">
                
            </div>
        </div>
        <div class="list coordinate-list col-md-3" id="position-list">
            <div class="list-item">
                <div class="list-item-text">
                    <p class="list-item-title">
                        <span class="list-item-number">A</span>
                        <span class="list-item-place">Kartverksveien 21, 3511 Hønefoss</span>
                    </p>
                </div>
                <button>Velg punkt A</button>
            </div>
            <div class="list-item">
                <div class="list-item-text">
                    <p class="list-item-title">
                        <span class="list-item-number">B</span>
                        <span class="list-item-place">Nordsjøen</span>
                    </p>
                </div>
                <button>Velg punkt B</button>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <a href="#" v-on:click="showPrecisionOptions = !showPrecisionOptions">Sjekk nøyaktighet for punktene <span class="fa fa-chevron-down"></span></a>
            <div v-show="showPrecisionOptions" class="list precision-list">
                <div class="list-item row">
                    <div class="list-item-text col-md-9">
                        <p class="list-item-title">Mobil/GPS</p>
                        <p class="item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at placerat leo. Morbi egestas dignissim justo a rutrum.</p>
                    </div>
                    <div class="list-item-image col-md-2">
                        <img src="~/Content/assets/images/dummy-image-precision-mobile.png" />
                    </div>
                    <div class="list-item-checkbox col-md-1">
                        <input type="radio" name="precision" value="mobile" />
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="list-item row">
                    <div class="list-item-text col-md-9">
                        <p class="list-item-title">Målebrev</p>
                        <p class="list-item-description">Morbi egestas dignissim justo a rutrum. Nulla efficitur a est eget blandit. Vivamus enim nibh, imperdiet in leo ac, tincidunt mollis ex.</p>
                    </div>
                    <div class="list-item-image col-md-2">
                        <img src="~/Content/assets/images/dummy-image-precision-maalebrev.png" />
                    </div>
                    <div class="list-item-checkbox col-md-1">
                        <input type="radio" name="precision" value="maalebrev" />
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    L.Icon.Default.imagePath = '/Content/assets/images/';
    var map = L.map('map', {continuousWorld: true }).setView([64.5, 10], 4);
    new L.TileLayer.WMS("http://wms.geonorge.no/skwms1/wms.topo2", {
        layers: 'topo2_WMS',
        format: 'image/png',
        attribution: "Kartverket",
        version: '1.3.0',
        transparent: true
    }).addTo(map);
</script>
<script>
    new Vue({
        el: 'body',
        data: {
            firstInput: '',
            secondInput: '',
            thirdInput: '',
            positionsResult: '',
            showPrecisionOptions: false,
            testpositions: '',
            testposition: [{
                CoordinateSystem: {
                    Name: 'EUREF89'
                },
                Coordinates: {
                    East: 9.0586377,
                    North: 59.4129367
                }
            }]
        },
        created: function () {

            this.testpositions = [
                {
                    CoordinateSystem: {
                        Name: 'EUREF89',

                    },
                    Coordinates: {
                        East: 9.0586377,
                        North: 59.4129367
                    }
                },
                {
                    CoordinateSystem: {
                        Name: 'NGO48',

                    },
                    Coordinates: {
                        East: 10,
                        North: 60
                    }
                }
            ];
        },
        methods: {
            findPositions: function () {
                this.$http.get('/api/positions' +
                        '?firstInput=' +
                        this.firstInput +
                        '&secondInput=' +
                        this.secondInput +
                        '&thirdInput=' +
                        this.thirdInput
                    )
                    .then(function (result) {
                        this.positionsResult = result.body;
                        //addMapMarkers(this.testpositions);
                        $(this.positionsResult.Positions).each(function () {
                            L.marker([this.Coordinates.Y, this.Coordinates.X]).addTo(map);
                        }).bind(this);
                        L.marker([this.testposition[0].Coordinates.North, this.testposition[0].Coordinates.East]).addTo(map);
                        //addMapMarkers(this.testposition)
                    }
                    )
                    .bind(this);
            }
        }
    });
</script>
