
<div class="loading-animation" id="loading-animation">
    <span>Finner posisjoner</span>
</div>
<div class="coordinates-input">
    <div class="input-container">
        <div class="col-sm-3 col-md-4 col-sm-offset-2 col-md-offset-0">
            <input type="text" v-on:keyup.enter="findPositionsQuick" v-model="firstInput" placeholder="569400.383" />
        </div>
        <div class="col-sm-3 col-md-4">
            <input type="text" v-on:keyup.enter="findPositionsQuick" v-model="secondInput" placeholder="6668087.248" />
        </div>
        <div class="col-sm-3 col-md-4">
            <button id="find-position" v-on:click="findPositionsQuick" v-bind:disabled="!formIsValid()"><span class="fa fa-search"></span> Finn posisjon</button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="sidebar result-container" id="results">
    <span class="toggle-sidebar"></span>
    <div v-if="mapCanHaveHiddenMarkers" id="result-statusbar" class="sidebar-header">
        <p>
            Antall posisjoner funnet: {{ positionsResult.Positions.length }}
        </p>
        <a v-on:click="showAllMarkers" class="sidebar-header-link">Vis alle p&aring; kartet</a>
        <div class="clearfix"></div>
    </div>
    <div v-if="positionsResult.ParseError" id="result-statusbar" class="sidebar-header">
        <p>
            Det du skrev inn kunne ikke tolkes som koordinater.
        </p>
        <a class="toggle-coordinates-input sidebar-header-link hide-medium hide-big">Vis koordinatfeltene</a>
        <div class="clearfix"></div>
    </div>
    <div v-if="!positionsResult.ParseError && !positionsResult.Positions.length" id="result-statusbar" class="sidebar-header">
        <p>
            Vi fant ingen posisjoner i Norge med disse koordinatene.
        </p>
        <a class="toggle-coordinates-input sidebar-header-link hide-medium hide-big">Vis koordinatfeltene</a>
        <div class="clearfix"></div>
    </div>
    <div id="position-list" class="list position-list">
        <div v-for="position in positionsResult.Positions"
             v-bind:id="'list-item-' + position.Identifier"
             v-bind:class="{ active: position.Identifier == activeMarkerIdentifier }"
             class="list-item list-item-clickable">
            <position-result v-bind:position="position">

            </position-result>
        </div>
        <div class="list-item list-item-button" v-show="!positionsResult.Comprehensive && positionsResult.Positions !== undefined && positionsResult.Positions.length > 0">
            <button id="find-position" v-on:click="findPositionsComprehensive">Last flere</button>
        </div>
    </div>
</div>

<div id="map" class="map">

</div>

<script type="text/html-template" id="position-result">

    <div v-on:click="selectFromList(position.Identifier)"
         v-on:mouseover="hoverFromList(position.Identifier)"
         v-on:mouseout="hoverLeaveFromList(position.Identifier)"
         class="list-item-content">
        <i class="list-item-badge"></i>
        <span v-if="position.AddressData.Address" class="list-item-addressdata">{{ position.AddressData.Address }}</span>
        <span v-if="position.AddressData.Place" class="list-item-addressdata">{{ position.AddressData.ZipCode }} {{ position.AddressData.Place }}</span>
        <span v-if="position.AddressData.Municipality" class="list-item-addressdata">{{ position.AddressData.Municipality }}</span>
        <span v-on:click="activeModal = !activeModal" class="list-item-link float-right">Se detaljer</span>
        <div class="clearfix"></div>
    </div>
    <div v-bind:class="activeModal ? 'active' : ''" class="modal">
        <div class="modal-container">
            <div class="modal-header">
                <span class="modal-title">
                    {{ position.title }}
                </span>
                <span v-on:click="activeModal = false" class="hide-modal fa fa-close pull-right"></span>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4">
                        <span class="modal-list-item-title">N&aelig;rmeste adresse:</span>
                    </div>
                    <div class="col-sm-8">
                        <span class="modal-list-item-data">
                            {{ position.AddressData.Address }}
                        </span>
                        <span class="modal-list-item-data">
                            {{ position.AddressData.ZipCode }} {{ position.AddressData.Place }}
                        </span>
                        <span class="modal-list-item-data">
                            {{ position.AddressData.Municipality }}
                        </span>
                        <span class="modal-list-item-data">
                            {{ position.AddressData.DistanceFromPosition }} meter unna punktet
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <span class="modal-list-item-title"> Koordinatsystem:</span>
                    </div>
                    <div class="col-sm-8">
                        <span class="modal-list-item-data">
                            {{ position.CoordinateSystem.Name }}
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <span class="modal-list-item-title"> &Oslash;st-koordinat:</span>
                    </div>
                    <div class="col-sm-8">
                        <span class="modal-list-item-data">{{ getCoordinate(position.Coordinates.X) }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <span class="modal-list-item-title"> Nord-koordinat:</span>
                    </div>
                    <div class="col-sm-8">
                        <span class="modal-list-item-data">{{ getCoordinate(position.Coordinates.Y) }}</span>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-12">
                        <span class="modal-list-item-title">Koordinater for mobil enhet:</span>
                        <span class="modal-list-item-data">
                            {{ getCoordinate(position.ReferenceCoordinates.X) }}, {{ getCoordinate(position.ReferenceCoordinates.Y) }}
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <span class="modal-list-item-title result-link-title">Lenke til resultat:</span>
                        <span class="modal-list-item-data result-link">
                            <a v-bind:href="url">{{url}}</a>
                        </span>
                    </div>
                </div>


                <button class="button float-right show-print"><span class="fa fa-print"></span> Utskriftsvennlig versjon</button>


                <div class="clearfix"></div>
            </div>
        </div>
    </div>

</script>



<script>
    L.Icon.Default.imagePath = '/Content/assets/images/';
    var map = L.map('map', { continuousWorld: true }).setView([64.5, 10], 5);
    var markerIcon = L.icon({
        iconUrl: '/Content/assets/images/svg/map-marker.svg',
        iconSize: [30, 43.5],
        iconAnchor: [15, 43.5],
        shadowUrl: '/Content/assets/images/svg/map-marker-shadow.png',
        shadowSize: [68, 95],
        shadowAnchor: [22, 94]
    });
    var markers;
    L.tileLayer('http://opencache.statkart.no/gatekeeper/gk/gk.open_gmaps?layers=topo2&zoom={z}&x={x}&y={y}', {
        attribution: 'Utviklet av <a title="Arkitektums nettside" target="_blank" href="http://www.arkitektum.no">Arkitektum AS</a> for <a title="Kartverkets nettside" target="_blank" href="http://www.kartverket.no/">Kartverket</a>'
    }).addTo(map);
    markers = new L.LayerGroup().addTo(map);
</script>

<script>
    Vue.component('position-result', {
        template: '#position-result',
        props: ['position'],
        data: function () {
            return {
                activeModal: false,
                title: this.getTitle()
            }
        },
        computed: {
            url: function () {
                var rootUrl = getRootUrl() +
                       "?x=" + this.getCoordinate(this.position.Coordinates.X) +
                       "&y=" + this.getCoordinate(this.position.Coordinates.Y) +
                       "&id=" + this.position.Identifier;
                if (app.positionsResult.Comprehensive) rootUrl += "&comprehensive=true";
                return rootUrl;
            }
        },
        methods: {
            getTitle: function () {
                if (this.position.AddressData.Address) title = this.position.AddressData.Address;
                else if (this.position.AddressData.Place) title = this.position.AddressData.Place;
                else if (this.position.AddressData.Municipality) title = this.position.AddressData.Municipality;
                this.position.title = title;
            },
            getCoordinate: function (coordinate) {
                switch (coordinate.Format) {
                    case 'Decimal':
                        return coordinate.DecimalValue;
                    case 'DegMin':
                        return coordinate.Degrees + '\u00B0 ' + coordinate.Minutes + '\u2032';
                    case 'DegMinSec':
                        return coordinate.Degrees + '\u00B0 ' + coordinate.Minutes + '\u2032 ' + coordinate.Seconds + '\u2033';
                }
            },
            selectFromList: function (identifier) {
                var marker = getMarker(identifier);
                selectMarker(identifier);
                app.activeMarkerIdentifier = identifier;
                map.fitBounds(new L.LatLngBounds([marker._latlng]), { paddingTopLeft: getBoundsPadding() });
            },
            hoverFromList: function (identifier) {
                if (!$("#list-item-" + identifier).hasClass("active")) {
                    setMarkerIcon(getMarker(identifier), hoverMarkerIcon);
                }
            },
            hoverLeaveFromList: function (identifier) {
                deSelectMarkers(getMarkers());
                if (app.activeMarkerIdentifier) setMarkerIcon(getMarker(app.activeMarkerIdentifier), selectedMarkerIcon);
            }
        },
        created: function () {
            var positionIdentifier = getParameterByName('id') !== "" ? getParameterByName('id') : false;
            if (positionIdentifier && positionIdentifier == this.position.Identifier) {
                this.activeModal = true;
                var marker = getMarker(positionIdentifier);
                setMarkerIcon(marker, selectedMarkerIcon);
                setTimeout(function () {
                    setModalBodyScroll();
                    map.fitBounds(new L.LatLngBounds([marker._latlng]));
                }, 500);
            }
        }
    });

    var app = new Vue({
        el: 'body',
        data: {
            rootUrl: getRootUrl(),
            firstInput: getParameterByName('x'),
            secondInput: getParameterByName('y'),
            thirdInput: '',
            activeMarkerIdentifier: getParameterByName('id'),
            positionsResult: '',
            showPrecisionOptions: false
        },
        methods: {
            hasAtLeastOneDigit: function (string) {
                return string.match(/\d/);
            },
            formIsValid: function () {
                return this.hasAtLeastOneDigit(this.firstInput) && this.hasAtLeastOneDigit(this.secondInput);
            },
            findPositionsComprehensive: function () {
                this.findPositions(true);
            },
            findPositionsQuick: function () {
                this.findPositions(false);
            },
            findPositions: function (comprehensive) {
                resetDropdown();
                if (!this.formIsValid()) return;
                var url = '/api/positions' +
                    '?firstInput=' +
                    this.firstInput +
                    '&secondInput=' +
                    this.secondInput +
                    '&thirdInput=' +
                    this.thirdInput;

                if (comprehensive) url += '&comprehensive=true';
                $("#loading-animation, #results").addClass("active");
                this.$http.get(url)
                    .then(function (result) {
                        $("#loading-animation").removeClass("active");
                        markers.clearLayers();
                        this.positionsResult = result.body;
                        $(this.positionsResult.Positions)
                            .each(function () {
                                L.marker([this.ReferenceCoordinates.Y.DecimalValue, this.ReferenceCoordinates.X.DecimalValue], { name: "marker", identifier: this.Identifier, icon: markerIcon })
                                    .addTo(markers)
                                    .on("mouseover", hoverFromMap)
                                    .on("mouseout", hoverLeaveFromMap)
                                    .on("click", selectFromMap);
                            });
                        if (this.positionsResult.Positions.length) {
                            this.showAllMarkers();
                        }

                        $("body").addClass("has-results has-sidebar");
                    }).bind(this);
            },
            showAllMarkers: function () {
                var bounds = [];
                getMarkers().forEach(function (marker) {
                    bounds.push(marker._latlng);
                });
                map.fitBounds(new L.LatLngBounds(bounds), { paddingTopLeft: getBoundsPadding() });


            }
        },
        computed: {
            mapCanHaveHiddenMarkers: function () {
                return this.positionsResult.Positions !== undefined && this.positionsResult.Positions.length > 0;
                // TODO: return false if map is fitted to markers allready
            }
        }
    });
</script>
