
<div>
    <h1>Finn posisjon</h1>
</div>

<div class="row">
    <div class="input-container">
        <div class="col-sm-4 col-lg-2 col-lg-offset-3">
            <input v-model="firstInput" />
        </div>
        <div class="col-sm-4 col-lg-2">
            <input v-model="secondInput" />
        </div>
        <div class="col-sm-4 col-lg-2">
            <button id="find-position" v-on:click="findPositionsQuick">Finn posisjon</button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<br />
<div class="result-container" id="results">
    <div class="map-container">
        <div class="row">
            <div class="col-md-9 no-margin-bottom no-padding-right-big">
                <div class="loading-animation" id="loading-animation">
                    <span>Finner posisjoner</span>
                </div>
                <div id="map" class="map">

                </div>
            </div>
            <div class="col-md-3 no-margin-bottom no-padding-left-big">
                <div id="position-list" class="list position-list">
                    <div v-for="position in positionsResult.Positions"
                         v-bind:id="'list-item-' + position.Identifier"
                         v-bind:class="{ active: position.Identifier == activeMarkerIdentifier }"
                         class="list-item list-item-clickable">
                        <position-result v-bind:position="position">

                        </position-result>
                    </div>
                    <div class="list-item list-item-button" v-show="!positionsResult.Comprehensive && positionsResult.Positions.length > 0">
                        <button id="find-position" v-on:click="findPositionsComprehensive">Last flere</button>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    @*<div class="row">
        <div class="col-md-9">
            <p><a href="#" v-on:click="showPrecisionOptions = !showPrecisionOptions">Sjekk n&oslash;yaktighet for punktene <span class="fa fa-chevron-down"></span></a></p>
            <div v-show="showPrecisionOptions" class="list precision-list">
                <div class="list-item row">
                    <div class="list-item-text col-md-9">
                        <p class="list-item-title">Mobil/GPS</p>
                        <p class="item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at placerat leo. Morbi egestas dignissim justo a rutrum.</p>
                    </div>
                    <div class="list-item-image col-md-2">
                        <img src="~/Content/assets/images/dummy-image-precision-mobile.png" />
                    </div>
                    <div class="list-item-checkbox col-md-1">
                        <input type="radio" name="precision" value="mobile" />
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="list-item row">
                    <div class="list-item-text col-md-9">
                        <p class="list-item-title">Målebrev</p>
                        <p class="list-item-description">Morbi egestas dignissim justo a rutrum. Nulla efficitur a est eget blandit. Vivamus enim nibh, imperdiet in leo ac, tincidunt mollis ex.</p>
                    </div>
                    <div class="list-item-image col-md-2">
                        <img src="~/Content/assets/images/dummy-image-precision-maalebrev.png" />
                    </div>
                    <div class="list-item-checkbox col-md-1">
                        <input type="radio" name="precision" value="maalebrev" />
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>*@
</div>

<template id="position-result">

    <div v-on:click="selectFromList(position.Identifier)"
         v-on:mouseover="hoverFromList(position.Identifier)"
         v-on:mouseout="hoverLeaveFromList(position.Identifier)"
         class="list-item-content">
        <span v-if="position.AddressData.Address" class="list-item-addressdata">{{ position.AddressData.Address }}</span>
        <span v-if="position.AddressData.Place" class="list-item-addressdata">{{ position.AddressData.ZipCode }} {{ position.AddressData.Place }}</span>
        <span v-if="position.AddressData.Municipality" class="list-item-addressdata">{{ position.AddressData.Municipality }}</span>
        <span v-on:click="active = !active" class="list-item-link pull-right"><span class="fa fa-info-circle"></span> Se detaljer</span>
        <div class="clearfix"></div>
    </div>
    <div v-bind:class="active ? 'active' : ''" class="modal">
        <div class="modal-container">
            <div class="modal-header">
                <span class="modal-title">
                    {{ position.title }}
                </span>

                <span v-on:click="active = !active" class="hide-modal fa fa-close pull-right"></span>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4">
                        <span class="modal-list-item-title">N&aelig;rmeste adresse:</span>
                    </div>
                    <div class="col-sm-8">
                        <span class="modal-list-item-data">
                            {{ position.AddressData.Address }}
                        </span>
                        <span class="modal-list-item-data">
                            {{ position.AddressData.ZipCode }} {{ position.AddressData.Place }}
                        </span>
                        <span class="modal-list-item-data">
                            {{ position.AddressData.Municipality }}
                        </span>
                        <span class="modal-list-item-data">
                            {{ position.AddressData.DistanceFromPosition }} meter unna punktet
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <span class="modal-list-item-title"> Koordinatsystem:</span>
                    </div>
                    <div class="col-sm-8">
                        <span class="modal-list-item-data">
                            {{ position.CoordinateSystem.Name }}
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <span class="modal-list-item-title"> &Oslash;st-koordinat:</span>
                    </div>
                    <div class="col-sm-8">
                        <span class="modal-list-item-data">{{ getCoordinate(position.Coordinates.X) }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <span class="modal-list-item-title"> Nord-koordinat:</span>
                    </div>
                    <div class="col-sm-8">
                        <span class="modal-list-item-data">{{ getCoordinate(position.Coordinates.Y) }}</span>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-12">
                        <span class="modal-list-item-title">Koordinater for mobil enhet:</span>
                        <span class="modal-list-item-data">
                            {{ getCoordinate(position.ReferenceCoordinates.X) }}, {{ getCoordinate(position.ReferenceCoordinates.Y) }}
                        </span>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

</template>



<script>
    L.Icon.Default.imagePath = '/Content/assets/images/';
    var map = L.map('map', { continuousWorld: true }).setView([64.5, 10], 5);
    var markers;
    new L.TileLayer.WMS("http://wms.geonorge.no/skwms1/wms.topo2", {
        layers: 'topo2_WMS',
        format: 'image/png',
        attribution: "Kartverket",
        version: '1.3.0',
        transparent: true
    }).addTo(map);
    markers = new L.LayerGroup().addTo(map);
</script>

<script>


</script>

<script>
    Vue.component('position-result', {
        template: '#position-result',
        props: ['position'],
        data: function () {
            return {
                active: false,
                title: this.getTitle()
            }
        },
        methods: {
            getTitle: function () {
                if (this.position.AddressData.Address) title = this.position.AddressData.Address;
                else if (this.position.AddressData.Place) title = this.position.AddressData.Place;
                else if (this.position.AddressData.Municipality) title = this.position.AddressData.Municipality;
                this.position.title = title;
            },
            getCoordinate: function (coordinate) {
                switch (coordinate.Format) {
                    case 'Decimal':
                        return coordinate.DecimalValue;
                    case 'DegMin':
                        return coordinate.Degrees + '\u00B0 ' + coordinate.Minutes + '\u2032';
                    case 'DegMinSec':
                        return coordinate.Degrees + '\u00B0 ' + coordinate.Minutes + '\u2032 ' + coordinate.Seconds + '\u2033';
                }
            },
            selectFromList: function (identifier) {
                var marker = getMarker(identifier);
                setMarkerIcon(marker, selectedMarkerIcon);
                app.activeMarkerIdentifier = identifier;
                map.panTo(new L.LatLng(marker._latlng.lat, marker._latlng.lng));
            },
            hoverFromList: function (identifier) {
                setMarkerIcon(getMarker(identifier), hoverMarkerIcon);
            },
            hoverLeaveFromList: function (identifier) {
                deSelectMarkers(getMarkers());
                if (app.activeMarkerIdentifier) setMarkerIcon(getMarker(app.activeMarkerIdentifier), selectedMarkerIcon);
            }
        }
    });

    var app = new Vue({
        el: 'body',
        data: {
            firstInput: '',
            secondInput: '',
            thirdInput: '',
            activeMarkerIdentifier: '',
            positionsResult: '',
            showPrecisionOptions: false
        },
        methods: {
            findPositionsComprehensive() {
                this.findPositions(true);
            },
            findPositionsQuick() {
                this.findPositions(false);
            },
            findPositions: function (comprehensive) {

                var url = '/api/positions' +
                    '?firstInput=' +
                    this.firstInput +
                    '&secondInput=' +
                    this.secondInput +
                    '&thirdInput=' +
                    this.thirdInput;

                if (comprehensive) url += '&comprehensive=true';
                $("#loading-animation, #results").addClass("active");
                this.$http.get(url)
                    .then(function (result) {
                        $("#loading-animation").removeClass("active");
                        markers.clearLayers();
                        this.positionsResult = result.body;
                        $(this.positionsResult.Positions)
                            .each(function () {
                                L.marker([this.ReferenceCoordinates.Y.DecimalValue, this.ReferenceCoordinates.X.DecimalValue], { name: "marker", identifier: this.Identifier })
                                    .addTo(markers)
                                    .on("mouseover", hoverFromMap)
                                    .on("mouseout", hoverLeaveFromMap)
                                    .on("click", selectFromMap);
                            })
                            .bind(this);
                    }
                    )
                    .bind(this);
            }
        }
    });
</script>
