@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>Finn posisjon</h1>
</div>

<div class="row">
    <div class="input-container">
        <div class="col-md-3 inline-block">
            <input type="text" />
        </div>
        <div class="col-md-3 inline-block">
            <input type="text" />
        </div>
        <div class="col-md-3 inline-block">
            <button>Finn posisjon</button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>