<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finn posisjon</title>
    <link rel="shortcut icon" type="image/x-icon" href="/Content/assets/images/ico/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" href="/Content/assets/images/png/logo-graphic-512.png" />

    @Styles.Render("~/bundles/styles")
    @Scripts.Render("~/bundles/scripts")

</head>
<body>
    <div class="navbar navbar-gray z-2">
        <a class="logo" href="/">
            <img src="~/Content/assets/images/svg/finn-posisjon-logo.svg" />
            <h1 class="logo-text">Finn posisjon</h1>
        </a>
        <span class="pull-right">
            <span id="show-page-description" data-toggle="dropdown-container-page-description" class="toggle-dropdown navbar-button fa fa-question"></span>
            <span class="toggle-coordinates-input navbar-button hide-medium hide-big fa fa-search"></span>
        </span>
    </div>
    <div id="dropdown-container-page-description" class="dropdown-container">
        <div class="dropdown-content">
            <div class="dropdown-body">
                <p>Denne tjenesten viser deg hvor i kartet koordinatene for et punkt du ønsker å finne er, for eksempel fra et målebrev eller en GPS-mottaker uten kartvisning.</p>
                <p>Tjenesten regner om de koordinatene du taster inn, uavhengig av hvilket koordinatsystem de måtte være i, til det nasjonale koordinatsystemet EUREF89.</p>
                <p>Disse koordinatene kan du så bruke videre i for eksempel mobiltelefon eller tur-GPS. </p>
                <hr />
                <input id="dont-show-description-on-startup" type="checkbox" />
                <label for="dont-show-description-on-startup">Ikke vis ved sidelast</label>
                <button class="button float-right hide-dropdown">OK</button>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="container">
            @RenderBody()
        </div>
        <footer></footer>
    </div>
    <div class="attribution">
        <a href="http://www.kartverket.no/" target="_blank">Kartverket</a>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
