<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finn posisjon</title>
    <link rel="shortcut icon" type="image/x-icon" href="/Content/assets/images/ico/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" href="/Content/assets/images/png/logo-graphic-512.png" />

    @Styles.Render("~/bundles/styles")
    @Scripts.Render("~/bundles/scripts")

</head>
<body>
    <div class="navbar navbar-gray z-2">
        <a class="logo" href="/">
            <img src="~/Content/assets/images/svg/finn-posisjon-logo.svg" />
            <h1 class="logo-text">Finn posisjon</h1>
        </a>
        <span class="pull-right">
            <span id="show-page-description" data-toggle="dropdown-container-page-description" class="toggle-dropdown navbar-button fa fa-question"></span>
            <span class="toggle-coordinates-input navbar-button hide-medium hide-big fa fa-search"></span>
        </span>
    </div>
    <div id="dropdown-container-page-description" class="dropdown-container">
        <div class="dropdown-content">
            <div class="dropdown-body">
                <p>Skriv inn koordinatene for et punkt du ønsker å finne, for eksempel fra et målebrev eller en GPS-mottaker uten kartvisning.</p>
                <p>Tjenesten regner om koordinatene til nasjonalt koordinatsystem og viser deg hvor i kartet punktet er.</p>
                <p>Disse koordinatene kan du så bruke videre i for eksempel mobiltelefon eller tur-GPS.</p>
                <p data-read-more="read-more-page-description" class="link toggle-read-more">Les mer om Finn posisjon</p>
                <div class="read-more" id="read-more-page-description">
                    <hr />
                    <p>Tjenesten transformerer koordinater fra følgende systemer:</p>
                    <ul class="list">
                        <li>EUREF89  UTM sone 32-36 og EUREF89 bredde/lengde</li>
                        <li>NGO1948 akse 1 – 8</li>
                        <li>Oslo kommunes lokale koordinatsystem (tilnærmet løsning med usikkerhet ca. 10 cm)</li>
                    </ul>
                    <p>Tjenesten er under utvikling og vi ønsker å utvide med flere koordinatsystemer etter hvert.</p>
                    <p><a href="http://kartverket.no/Posisjonstjenester/bruke-referanserammer/">Les mer om koordinatsystemer og referanserammer på kartverket.no</a></p>
                </div>
                <hr />
                <input id="dont-show-description-on-startup" type="checkbox" />
                <label for="dont-show-description-on-startup">Ikke vis ved sidelast</label>
                <div class="float-right">
                    <button class="button hide-dropdown">OK</button>
                </div>
                <div class="clearfix"></div>

            </div>
        </div>
    </div>
    <div class="print-actions">
        <button class="button hide-print"><span class="fa fa-arrow-left"></span> Gå tilbake</button>
        <button onclick="window.print();" class="button float-right"><span class="fa fa-print"></span> Skriv ut</button>
    </div>
    <div class="main-content">
        <div class="container">
            @RenderBody()
        </div>
        <footer></footer>
        <div class="attribution">
            <a href="http://www.kartverket.no/" target="_blank">Kartverket</a>
        </div>
        <div class="app-attribution">
            <img src="~/Content/assets/images/svg/finn-posisjon-logo.svg" />
            <span>Finn posisjon</span>
        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
